body{
	 background-image: url("congruent_pentagon/congruent_pentagon.png");
}
/*====================

  NAVGIATION TOP

=====================*/
nav{
	position: absolute;
	left:15%;
	width:70%;
	height:10%;
	overflow:hidden;
	color:;
	background-color:rgba(69, 191, 187, 0.5);
	border-bottom:solid;
	border-bottom-color:rgba(18, 132, 187, 0.5);
	border-bottom-width:2px; 
	top:0%;
}
nav ul.ui-menu{
	position: relative;
	bottom:0%;
}
nav ul.ui-menu .ui-menu-item{
	list-style-type: none;
	padding:5%;
	position:relative;
	display :inline;
	o-transition-duration:150ms;
	-webkit-transition-duration:150ms;
	-ms-transition-duration:150ms;
	-moz-transition-duration:150ms;
	transition-duration:150ms;	
}

nav ul.ui-menu .ui-menu-item:hover{
	background:white;
	
}
nav ul.ui-menu .ui-menu-item a{
	color:white;
	font-size:15px;
	text-decoration:none;
}
nav ul.ui-menu .ui-menu-item:hover a{
	color:red;
}
/*====================

  AUTOCOMPLETE INPUT

=====================*/
.ui-autocomplete{
	list-style-type: none;
}
.ui-autocomplete .ui-menu-item {
	position: relative;
	display:block;
    background:white; 
    border:1px solid #aaa;
    margin-left:-40px;
	font-size:1em;
	width:145px;
	o-transition-duration:150ms;
	-webkit-transition-duration:150ms;
	-ms-transition-duration:150ms;
	-moz-transition-duration:150ms;
	transition-duration:150ms;	
}
.ui-autocomplete .ui-menu-item:hover {
	background-color: rgba(21, 156, 136, 0.5);
	color:white;
}

.ui-autocomplete-input:hover{
	background-color:rgba(21, 156, 136, 0.5);
	color:white;
}

.ui-helper-hidden-accessible {display :none;}
/*====================

	GESTION LINK
	
===================*/

#partieAutocompletion{
	position:absolute;
	width:100%;
	top:0%;
	z-index:50;
	height:100%;
	display:none;
}
#connexion{
	position:absolute;
	width:100%;
	top:0%;
	z-index:50;
	height:100%;
	display:none;
}
#accesHierarchique{
position:absolute;
	width:100%;
	top:0%;
	z-index:50;
	height:100%;
	display:none;
}
#login_div{
position:absolute;
	width:100%;
	top:0%;
	z-index:50;
	height:100%;
	display:block;

}

/*=======

	CONTENEUR PRINCIPALE

=========*/

.display-section{
	position:absolute;
	display:block;
	top:10%;
	left:15%;
	width:70%;
	height:100%;
	background-color: rgba(255, 255, 255, 0.5);
	z-index:-5;

}

#accueil{
	position:absolute;
	width:100%;
	height:100%;
}
/*====================

  CONTENEUR INPUT WRAPPER

=====================*/

#wrapper1{
position:absolute;
display:block;
top:2%;
height: :50%;
top:65px;
left:5%;
}
#wrapper2{
position:absolute;
display:block;
height: :50%;
top:65px;
left:50%;
}
#SubmitResult{
	position :relative;
	display:block;
	top:0%;
	left :30%;
}
/*====================

 	INPUT WRAPPER

=====================*/
.search_input_wrapper{
	top:25%;
	left: 0%;
position:relative;

}

a.remove_field{
	margin-left:10px;
	text-decoration:none;
	color:black;
}
 

 /*================

	Resultat mixage 

 ================*/
 div#result{
 	z-index:-1;
 	position:relative;
 	height:100%;
 	top:0%;
 	width:100%;
 }

div#result p.test{
position: relative;
top:10%;
left:30%;
}


/*================

	CLASSE ERREUR

=================*/
.erreur{
	display:block;
	left:0;
	position:relative;
	z-index:999999;
	width:400px;
	background-color: black;
	}

p.erreur{
	color:white;
}	



/*=====================

	HIERARCHIE RECETTES

=======================*/
h3{
	text-align: center;
}

#ah_liste_aliments_liste_recettes{
/*position: relative;*/
/*display:block;*/
/*top: 0px;*/
height:50%;
width: 100%;
background-color: rgba(255, 255, 255, 0.25);
}

#ah_liste_aliments{
display: inline-block;
height: 100%;
width: 49%;
left: 0px;
background-color: rgba(50, 255, 255, 0.25);
}

#ah_liste_recettes{
display: inline-block;
height: 100%;
width: 49%;
left: 0%;
background-color: rgba(255, 50, 255, 0.25);	
}


